################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyLittleClub/bin/Debug
/MyLittleClub/obj
/.vs/MyLittleClub/v16
